@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Hedvig+Letters+Serif:opsz@12..24&display=swap');

:root {
    --timing: 700ms;
    --deg: 20deg;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hedvig Letters Serif', serif;
    list-style: none;
}

html {
    color-scheme: dark;
}


header {
    color: #E07108;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}

header h1 {
    letter-spacing: 5px;
}

header ul li {
    display: inline;
    margin: 10px;
}

p {
    color: #E07108;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
}


p span {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.2em;
}

/* head line end*/

main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}



section {
    width: 100%;
    align-items: center;
    justify-content: center;

}

section .text-box {
    align-items: center;
    margin: auto;
    left: 50%;
    text-align: center;
}

section p {
    padding: 40px;
}

iframe {
    position: relative;
    left: 25%;
    width: 1000px;
    height: 600px;
    border: 5px solid #E07108;
}


/*section end*/

article {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

article p {
    text-align: center;
    width: 50%;
    margin-left: 70px;
    font-size: 2rem;
}

article img {
    max-width: 100%;

}

.poster {
    width: 1240px;
    position: relative;
    aspect-ratio: 12/6;
    margin-right: 50px;
}

.poster-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    object-fit: cover;
    object-position: bottom;

}

.poster-frontimage {
    scale: 1.1;
    height: 100%;
    position: absolute;
    opacity: 0;
    z-index: 10;
    left: 20px;
    top: 18px;
    transition: var(--timing);
}


.poster:hover .poster-bg {
    filter: grayscale(1);
}

.poster:hover .poster-frontimage {
    opacity: 1;
    transform: translateY(-2rem) translateZ(20px);
    rotate: x calc(var(--deg) * -1);
}

.poster::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 100;
    background-image: radial-gradient(circle, transparent 190px, black);
    opacity: 0;
    transition: opacity var(--timing);
}

.poster:hover:before {
    opacity: 1;
}

/*footer*/

footer {
    display: block;
    clear: both;
    background: #E07108;
}

footer p {
    color: white;
    text-transform: capitalize;
}

.media-info {
    position: relative;
    text-align: center;
}

.media-info a {
    color: white;
    text-decoration: none;
    font-size: 50px;
    margin: 0px 30px 0px 10px;
}

.media-info i {
    font-size: 50px;
    margin-right: 15px;
}



@media screen and (max-width: 600px) {
    * {
        box-sizing: border-box;
    }

    header {
        width: 100%;
        justify-content: center;
        text-align: center;

    }

    section,
    article,
    footer {
        width: 100%;
        justify-content: center;
        text-align: center;
    }



}