/*태그 선택*/

*{
    text-decoration: none;
}

table {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}

th, td {
    border: 1px solid;
    text-align: center;
}

img {
    width: 50px;
}

a {
    font-size: 24px;
   
}
/* id선택할 때는 #을 이용함. */
/* #title {
    color:green;
} */

form > h2{
    color: gray;
}

h2{
    color: blue;
}

.red {
    color:red;
}
div ul{
    list-style: none;
}

div p {
    color:red;
}
