.grid-container{
    display:grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;

}
.grid-item:nth-child(1){
    grid-column-start:1;
    grid-column-end: 3;
}

.grid-item:nth-child(2){
    grid-column-start:3;
    grid-column-end:4;
}


.grid-item:nth-child(3){
    grid-column-start:2;
    grid-column-end: 4;
    background-color: orange;
}


.grid-item:nth-child(4){
    grid-column-start:2;
    grid-column-end: 4;
    grid-row-start:2;
    grid-row-end:4;
    background-color: blue;
}


#header{
    grid-area:header;
    background-color: red;
}

#sidebar{
    grid-area:sidebar;
    background-color: yellow;
}

#content{
    grid-area:content;
    background-color: blue;
}

#footer{
    grid-area:footer;
    background: gray;
}
