.red-box{
    width:100px;
    height:100px;
    background-color:red;

    transition-property: background-color, color, width;
    transition-duration: 1s, 500ms, 2s;
    transition-delay: 1s;  /*전환되는데 1초가 걸림*/
}

.red-box:hover {
    background-color: blue;
}

.container{
    padding:10px;
    color:white;
    border: solid 1px black;

}

.bar{
    width:100px;
    background-color: green;
    transition-property: width;
    transition-duration: 1s;
    margin-bottom: 10px;
}

.container:hover .bar{
    width:200px;
}

.bar:nth-child(1){
    transition:width, 1s, ease-in, 1s;
}

