h1{
    font-size: 20px;
    font-weight: normal;
    color: #0000ff;
    text-align: center;
}

div p{
  color: red;  
  font-size:14px;
  text-align: left;
}

.desc {
    font-size:16px;
    font-family: BatangChe, "Times New Roman", serif;
    font-weight: normal; /*100~900*/
    font-variant: normal; /*small-caps*/
    text-align: justify; /*양쪽 정렬*/
    text-decoration: none;

    letter-spacing: normal;
    line-height: 1.5;
}
