
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Poppins&family=Varela+Round&display=swap');

.poppins{
    font-family: "Poppins", sans-serif;
}

.varela{
    font-family: "Varela Round", sans-serif;
}

.container{
    border: 1px solid black;
    display:inline-block;
    margin:20px;
}

.box{
    width: 100px;
    height:100px;
    background-color: red;
}

.box:hover{
    transform: rotate(30deg);
    transform-origin: bottom right;
}

i {
    font-size:30px;
    color:#4267B2;
}