img{
    width:100px;
    height:100px;
    float:right;
    margin-right: 1rem;
}

.red-box{
    background-color: red;
    color:white;
    float:left;
}

.blue-box{
    background-color: blue;
    color:white;
    float:left;
}