
.box{
    width:100px;
    height:100px;
}

.red-box{
    background-color: red;
    position: relative;
    z-index: 10;
}

.green-box{
    background-color: green;
    position: absolute;
    top:0;
    left:0;
}

.blue-box{
    background-color: blue;
}